node_modules
frontend/node_modules
micro-services/node_modules
coverage
*.log*
.nuxt
.nitro
.cache
.output
.env
frontend/.env
micro-services/.env
dist
frontend/dist
micro-services/dist
.DS_Store
.idea
.eslintcache
api-generator/typedoc.json
**/.DS_Store
