# -------------------------
# DEPENDÊNCIAS
# -------------------------
node_modules/

# -------------------------
# SISTEMA / AMBIENTE
# -------------------------
.DS_Store
.vscode/
.idea/
.eslintcache
*.log
*.log.*

# -------------------------
# BUILDS
# -------------------------
dist/
frontend/dist/
micro-services/dist/

# -------------------------
# ARQUIVOS DE AMBIENTE (SECRETS)
# -------------------------
.env
.env.*
frontend/.env
frontend/.env.*
micro-services/.env
micro-services/.env.*

# -------------------------
# OUTROS
# -------------------------
coverage/
.nuxt/
.nitro/
.cache/
.output/
api-generator/typedoc.json
