.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.layout-main-content {
    padding: 6rem 2rem 2rem 2rem;

    @media (max-width: 960px) {
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }

    @media (max-width: 576px) {
        padding: 4.5rem 1rem 1rem 1rem;
    }
}
